
<div class="container-fluid" id="about">
    <div class="row">
        <div class="col-5 about1 ">
            <h1 >ABOUT US</h1>
            <p style="color:red;">WHO WE ARE</p>
            <p style="font-size:28px;" >Aliquam A Nunc Non Erat Lobortis</p>
            <p style="color:red;font-size:21px;"><i>Vestibulum nec consequat nisl. Aliquam vehicula <br> egestas commodo. Pellentesque lorem magna,<br> pulvinar sed lacinia et, venenatis in mi.</i></p>
            <p style="color:lightgrey;font-size:18px;"> Nullam sodales rutrum nisl, gravida porttitor lectus porta et. Duis purus <br>arcu, semper at magna faucibus, elementum maximus ligula. Etiam <br> imperdiet posuere odio gravida vehicula. Nulla consectetur massa eget <br>tincidunt suscipit. Integer vitae ex eros. Cras ornare dignissim scelerisque.</p>
         </div>

         <div class="col-3">
             
                <img class="one" [src]="image">
         </div>
         <div class="col-3">
                <img class="two" [src]="image1">
           
         
        
</div>
    </div>
</div>
