.one {
    width:530px;
    height:330px;
    opacity:1;
    margin-top:90px;
}


.two {
   
        width:320px;
        height:210px;
        
 
}



.about1{
    margin-left:120px;
    font-family: 'Jura';
   
}

.body{
    font-family: 'Jura';
    font-size:22px;
}