<div class="container" id=gallery>
    <h1 class="gallery">LATEST GALLERY</h1>
    <p class="gallery" style="color:red;">LOREM IPSUM DOLOR</p>
    <div class="row" >
        <div class="container1 col-4" >
           <img class="two"[src]="img"> 
        <div class="middle">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                WONDERLAND GAMING  </button>           </div> 
        </div>
   <div class="container1 col-4">
            <img class="one"[src]="img1"> 
         <div class="middle">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                WONDERLAND GAMING  </button>                </div>   
            </div>
               
        <div class="container1 col-4">
            <img class="one" [src]="img2"> 
            <div class="middle">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    WONDERLAND GAMING  </button>                   </div> 
            </div>
        



        <div class="row">
            <div class="container1 col-4">
        <img class="one" [src]="img3">
        <div class="middle">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                WONDERLAND GAMING  </button>               </div> 
            </div>
    
            <div class="container1 col-4">
                <img class="one" [src]="img4"> 
                <div class="middle">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        WONDERLAND GAMING  </button>                       </div>
                    </div>
                    
            <div class="container1 col-4">
                <img class="one" [src]="img5">
                <div class="middle">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        WONDERLAND GAMING  </button>                       </div> 
                </div>
            </div>



            <div class="row">
                <div class="container1 col-4">
            <img class="one" [src]="img6"> 
            <div class="middle">

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    WONDERLAND GAMING  </button>               </div>
         </div>
        
                <div class="container1 col-4">
                    <img class="one" [src]="img7">
                    <div class="middle">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                            WONDERLAND GAMING  </button>                    </div> 
                        </div>
                        
                <div class="container1 col-4">
                    <img class="one" [src]="img8"> 
                    <div class="middle">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" id="#one">
                            WONDERLAND GAMING  </button>                           </div>
                    </div>
                </div>
</div>
       



 
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        
        <div class="modal-body" id="one">
            <img class="one" [src]="img8"> 
            <img class="one" [src]="img7"> 

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"> < </button>
          <button type="button" class="btn btn-primary"> > </button>
        </div>
      </div>
    </div>
  </div>