<div id="carouselExampleCaptions" class="carousel slide new" data-ride="carousel">
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="image"class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <p class="center1" style="font-size:45px;" >PEGASUS HORSE FLOWERS <br>
        <small style="font-size:18px;">WORLD BUILDING IS COMPONENT OF FANTASY<br>
 
        <button class="center2" type="button" href="#read">Read More</button></small></p>
        <a class="carousel-control-prev one" style="margin-left:480px;"href="#carouselExampleCaptions" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next one" style="margin-right:480px;"href="#carouselExampleCaptions" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <img [src]="image1" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p class="center1" style="font-size:45px;" >PHANTOM ASSASSIN - FEMALE - GAME<br>
          <small style="font-size:18px;">WORLD BUILDING IS COMPONENT OF FANTASY<br>
        <button class="center2" type="button" href="#read">Read More</button></small></p>
        <a class="carousel-control-prev one"style="margin-left:480px;" href="#carouselExampleCaptions" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next one"style="margin-right:480px;" href="#carouselExampleCaptions" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <img [src]="image2" class="d-block w-100">
      <div class="carousel-caption">
        <p class="center1" style="font-size:45px;" >GIRL - EARS - ART - LIGHT<br>
          <small style="font-size:18px;">WORLD BUILDING IS COMPONENT OF FANTASY<br>
        <button class="center2" type="button" href="#read" >Read More</button></small></p>
        <a class="carousel-control-prev one"style="margin-left:480px;" href="#carouselExampleCaptions" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next one" style="margin-right:480px;" href="#carouselExampleCaptions" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>      </div>
    </div>
  </div>
  
   
   

</div>
  

