

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 



    <h1 style="text-align:center;">LOCATE US</h1>
    <p style="text-align:center;color:red;">HOW TO FIND US</p>
    <div class="container-fluid">
    <div class="map-responsive">
   <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=New+York+USA" width="600" height="450" frameborder="0" style="border:0"></iframe>
   <div class="row new">
   <div class="col-3 new1">
    <p> 
      <a href="#" style="margin-left:2px;">
        <span class="glyphicon glyphicon-map-marker"></span>
      </a>LOCATION
     </p>
       <p>3030 New York, NY, USA</p>
  
  </div>
  <div class="col-3 new1">
    <p>
      <a href="#">
        <span class="glyphicon glyphicon-envelope"></span>
      </a>EMAIL</p>   
    <p>info@example.com</p> </div>
  <div class="col-3 new1">
    <p>
      <a href="#">
        <span class="glyphicon glyphicon-earphone"></span>	
        
      </a>CALL US
    </p>
    <p>(+000) 003 003 0052 </p>
  </div>
  <div >
    <p style="margin-left:100px;">© 2020 Gaming Wonderland. All Rights Reserved | Designed by Madhuvanthi Sai Prasad</p>
  </div>
</div> 
</div>
</div>


