<body>
<div class="container-fluid bg" id="services">
    <h1 class="serve1">SERVICES</h1>
    <p class="serve1"style="color:red;">VIEW OUR SERVICES</p>
    <div class="row">
       
        <div class="col-3 serve">
      <a href="#" ><img class="img-circle rad"[src]="image1"></a> 
            <p  class="new5">SERVICE1</p>
            <p class="new6">Lorem Ipsum</p>
        </div>

        <div class="col-3 serve">
            <a href="#"><img class="img-circle rad"[src]="image2"></a> 
            <p  class="new5">SERVICE2</p>
            <p  class="new6">Lorem Ipsum</p>
        </div>

        <div class="col-3 serve">
            <a href="#">  <img class="img-circle rad" [src]="image3"></a> 
            <p class="new5">SERVICE3</p>
            <p  class="new6">Lorem Ipsum</p>
        </div>

        <div class="col-3 serve">
            <a href="#"><img class="img-circle rad" [src]="image4"></a> 
            <p class="new5">SERVICE4</p>
            <p class="new6">Lorem Ipsum</p>
        </div>
    </div>
</div>
</body>